
.footer {
  padding: 20px 40px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #EEF1FF;
}

.imgBox {
  width: 30%;
}

.img {

}

.content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menuItem {
    margin-right: 80px;
    font-weight: bold;
}

.infoBox {
  margin-top: 20px;
}

.info {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu {
    margin: 10px auto;
    flex-direction: column;
  }
  .menuItem {
    margin: 5px auto;
  }
}