@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: #292929;
}

a {
  color: #2C74B3;
  text-decoration: none;
  overflow-wrap: anywhere;
}

a:hover {
  color: #FF597B;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  margin: 5px 0px;
}

h1,
h2 {
  margin-top: 30px;
  margin-bottom: 15px;
}

h3 {
  margin: 10px 0px;
}

p {
  margin: 10px 0px;
}

ul {
  padding: 5px 10px 5px 30px;
  margin: 0px auto;
}

li {
  margin: 5px;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

#ez-toc-container {
  display: none;
}
