
/* .outerBox {
  
} */

.headerBox {
  width: 700px;
  max-width: 80%;
  border-radius: 20px;
  padding: 20px 20px;
  margin: 40px auto;
  text-align: center;
  background-color: #EEF1FF;
}

.header {
  font-weight: bold;
  font-size: 1.2rem;
  color: #5484ab;
}

.detail {
  margin-top: 10px;
  color: #5484ab;
}